.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  
    .logo-container {
      height: 100%;
      width: 75px;
      padding: 25px;
    
    
      .logo{
        &:hover{
          cursor: pointer;

          #WiP{
            transform: translateY(-1.5px);
            transition: transform 0.5s;
          }

          #Rectangle{
            fill: black;
            transition: fill 0.5s;
          }

          #Triangle{
            fill: black;
            fill-opacity: 1;
            transition: fill  0.5s;
            transition: fill-opacity 0.5s;
          }

          #Oval{
            fill: black;
            transition: fill 0.5s;
          }
        }
      }
    
    }
    
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 1em;
      
      .option {
        padding: 10px 15px;
        cursor: pointer;
        text-decoration: none;
        color: black;
        font-family: "Lucida Console", "Courier New", monospace;
        font-weight: 500;
        font-size: 1.3em;
      }
    }
  }